// import helper 
@import '../../assets/style/helper';

// header style
.header-wrapper {
    padding:10px 20px;
    border-bottom: 1px solid $border;
}

// logo style
.logo-wrapper {
    margin: auto auto auto 0;
    .logo {
        font-size: 32px;
        text-transform: uppercase;
        font-weight: 800;
    }
}

// mat style
::ng-deep {
    .search-wrapper {
        .mat-form-field-infix {
            width: 320px;
        }
        .mat-form-field-appearance-legacy .mat-form-field-label {
            font-size: 13px;
            font-weight: 600;
        }
    }
}