<header class="header-wrapper">
    <div class="main-wrapper d-flex">
        <div class="logo-wrapper">
            <h1 class="logo">NEWS</h1>
        </div>
        <!-- logo end -->
        <div class="search-wrapper">
            <mat-form-field>
                <mat-label>Search</mat-label>
                <input matInput>
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
        </div>
        <!-- search end -->
    </div>
</header>

