// media query mixin for responsive.
$mobile-width: 620px;
$tab: 960px;

@mixin mobile {
  @media (max-width: $mobile-width) {
    @content;
  }
}

@mixin tab {
  @media (max-width: $tab) {
    @content;
  }
}