@import './helper';
// theme style
.main-wrapper {
    max-width: 1320px;
    margin: auto;
}

// typography
.mf {
    &-title {
        &-lg {
            font-size: 22px;
            font-weight: 700;
            margin-bottom: 26px;
        }
        &-sm {
            font-size: 20px;
            line-height: 26px;
            margin-bottom: 12px;
            font-weight: 800;
        }
    }
    &-text {
        &-md {
            font-size: 14px;
            line-height: 22px;
            margin-bottom: 12px;
            font-weight: 400;
        }
    }
}


// news style
.news {
    &-text-box {
        padding: 21px 20px 10px 20px;
        border: 1px solid $border;
        border-radius:0 0 8px 8px;
        border-radius: 0 0 8px 8px;
        height: 100%;
        &.border-radius {
            border-radius: 8px;
        }
    }
    &-box {
        border-radius: 8px;
        overflow: hidden;
        height: 100%;
        display: flex;
        flex-direction: column;
        transition-duration: 0.3s;
        cursor: pointer;
        &:hover {
            transform: translateY(-5px);
            box-shadow: $shadow;
        }
    }
}


// box style
.box-wrapper {
    max-width: 1220px;
    margin: auto;
}

//spinner
::ng-deep {
    .mat-progress-spinner {
        margin: auto !important;
    }
}
