// global styles variables 

// color
$light : #FFFFFF;
$dark: #000;
$bace-color:#4A4A4A;
$border:#EDEDED;
//font family
$font-family:'Manrope', sans-serif;

// shadow
$shadow: 0px 0px 15px rgba(206, 206, 206, 0.3);