<div class="box-wrapper">
    <h2 class="mf-title-lg">Featured news</h2>
    <mat-spinner  *ngIf="isLoading"></mat-spinner>
    <div class="row" *ngIf="!isLoading">
        <div class="col-12 col-md-4 mb-2 mb-md-5" *ngFor="let featuredNews of featuredNewsData | slice:0:3">
           <div class="news-box">
               <img src="../../../assets/images/news-image.jpg" alt="" class="news-image img-fluid">
               <div class="news-text-box">
                   <h4 class="mf-title-sm">{{featuredNews?.headline?.print_headline ? (featuredNews?.headline?.print_headline | slice:0:70)+'..':(featuredNews?.headline?.print_headline)}}</h4>
                   <h4 class="mf-text-md">{{featuredNews?.headline?.main}}</h4>
               </div>
            </div>
        </div>
    </div>
</div>

