<!-- header stat -->
<mf-header></mf-header>
<!-- header end -->

<!-- main container area -->
<div class="main-container">
  <div class="main-wrapper">
    <mf-featured-news></mf-featured-news>
    <mf-latest-news></mf-latest-news>
  </div>
</div>