<div class="box-wrapper">
    <h2 class="mf-title-lg">Latest news</h2>
    <mat-spinner  *ngIf="isLoading"></mat-spinner>
    <div class="row"  *ngIf="!isLoading">
        <div class="col-12 col-md-6 mb-2 mb-md-4" *ngFor="let latestNews of latestNewsDataToShow">
           <div class="news-box">
               <div class="news-text-box border-radius">
                   <h4 class="mf-title-sm">{{latestNews?.headline?.print_headline ? (latestNews?.headline?.print_headline | slice:0:70)+'..':(latestNews?.headline?.print_headline)}}</h4>
                   <h4 class="mf-text-md">{{latestNews?.headline?.main}}</h4>
               </div>
            </div>
        </div>
    </div>
    <mat-paginator #paginator
      [length]="10" 
    [pageSize]="9"  (page)="onPageChange($event)" [pageSizeOptions]="[5, 10, 25, 100]"
>
    </mat-paginator>
</div>
